* {
  font-family: 'Prompt', sans-serif;
}

.form-container {
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  position: relative;
}

.form-container:after {
  content: "";
  background-image: url(../img/bike-wallpaper.jpg);
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;  
  z-index: -1;   
}

#form-signup-heading{
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 1px #DEDEDE;
}

.form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup .form-signup-heading,
.form-signup .checkbox, .form-signup .input-box{
  margin-bottom: 10px;
}

.form-signup .checkbox {
  font-weight: normal;
}

.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signup .form-control:focus {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary, .btn-primary:hover{
  background-color: #333;
  border-color: #333;
}